@import "mixins.scss";
@import "templates.scss";

*{
    font-family: 'Poppins';
    
}

body
{
    background-color: $dark-blue;
}

.container
{
    padding: 0 15px;
    max-width: 1410px;
    margin: 0 auto;
}

a
{
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6, span
{
    &::selection
    {
        background: $light-orange !important;
        color: #FFFFFF !important;
    }
}