body
{
    margin: 0px;
}

*
{
    margin: 0px;
    padding: 0;
    border: 0;
}

button
{
    background-color: initial;
    cursor: pointer;
    color: #FFFFFF;
}

ul
{
    list-style: none;
}

input
{
    appearance: none;
    background-color: initial;
    outline: none;
}