@mixin typography($font-size, $font-weight, $line-height, $color)
{
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    color: $color;
}

$light-orange: #FF6E30;

header 
{
    & .container
    {
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 26px 15px 58px;
        position: relative;

        & .logo
        {
            display: flex;
            align-items: center;
            gap: 21px;
            cursor: pointer;

            & h4
            {
                @include typography(22px, 600, 33px, #FFFFFF);
            }
        }
    
        & ul
        {
            display: flex;
            align-items: center;
            gap: 40px;
            position: relative;

            & li
            {
                @include typography(16px, 500, 24ox, #9a9d9f);
                position: relative;

                &::after
                {
                    content: '';
                    transform: scaleX(0);
                    width: 100%;
                    height: 2px;
                    background-color: #929598;
                    position: absolute;
                    bottom: -3px;
                    left: 0;
                    transition: .3s ease-in-out;
                }

                &:hover::after
                {
                    transform: scaleX(1);
                }
            }

            & svg
            {
                position: absolute;
                top: 4px;
                left: 182px;
            }
        }
        & .buttons
        {
            display: flex;
            align-items: center;
            gap: 41px;

            & button
            {
                color: #a7aaac;
                background-color: #1e252b;
                &:last-of-type
                {
                    padding: 12px 28px;
                    border-radius: 8px;
                    color: #FDF5FF;
                    transition: .2s ease-in-out;
                    background-color: $light-orange;

                    &:hover
                    {
                        background-color: #FFFFFF;
                        color: #000000;
                    }
                }
            }
        }
        .burger
        {
            display: none;
            position: absolute;
            top: 26px;
            right: 20px;
            height: 48px;
            width: 48px;
        }

        @media screen and (max-width: 993px) {
            & nav, & .buttons
            {
                display: none;
            }
            & .burger
            {
                display: block;
            }
        }
    }
}



.tools
{
    & .container
    {
        height: 626px;
        margin-top: 58px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
        

        & .column-1
        {
            & .content
            {
                h1
                {
                    @include typography(50px, 500, 70px, #e8e9e9);
                    max-width: 600px;
                    margin-bottom: 30px;

                    & span
                    {
                        color: $light-orange;
                    }
                }
                h4
                {
                    @include typography(18px, 400, 30px, #9a9d9f);
                    max-width: 480px;
                    margin-bottom: 60px;
                }

                & .search
                {
                    background-color: #283036;
                    position: relative;
                    display: flex;
                    align-items: center;
                    border-radius: 15px;
                    border: 1.5px #333a40 solid;
                    width: 498px;

                    & .placeholder
                    {
                        display: flex;
                        align-items: center;
                        height: 48px;
                        width: calc(100% - 131px);

                        & svg
                        {
                            position: absolute;
                            left: 18px;
                        }

                        & input
                        {
                            @include typography(14px, 400, 21px, #7a7f82);
                            height: 100%;
                            width: calc(100% - 10px);
                            position: relative;
                            left: 18px;

                            &::placeholder
                            {
                                position: relative;
                                left: 37px;
                            }
                        }
                    }

                    & button
                    {
                        padding: 12px 36px;
                        margin: 8px 11px;
                        border-radius: 8px;
                    }
                }
            }
            & .icons
            {
                display: flex;
                gap: 19px;
                position: absolute;
                bottom: 0;
                & svg
                {
                    cursor: pointer;
                }
            }
        }

        & .column-2
        {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}

.popular .container
{
    padding: 200px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .title
    {
        & h1
        {
            @include typography(48px, 500, 62.4px, #e8e9e9);
            margin-bottom: 25px
        }

        & h2
        {
            @include typography(18px, 500, 30px, #9a9d9f);
            max-width: 430px;
            margin-bottom: 90px;
            text-align: center;
        }
    }

    & ul
    {
        display: grid;
        grid-template-columns: repeat(3, 392px);
        grid-template-rows: repeat(2, 294px);
        gap: 25px 100px;
        

        & li
        {
            padding: 31px;
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            border-radius: 15px;
            transition: 0.45s ease-in-out;
            border: 2px solid #1e252b;
            position: relative;
            z-index: 1;

            & h3
            {
                @include typography(24px, 500, 36px, #cecfd0);
            }

            & h4
            {
                @include typography(18px, 400, 27px, #9a6c31);
            }

            & h5
            {
                @include typography(16px, 400, 30px, #9a9d9f);
            }

            
            & .icons
            {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;

                & button
                {
                    color: #9a9d9f;
                    padding: 9px 35px;
                    border-radius: 8px;
                    background-color: #1e252b;
                }
            }

            &:hover
            {
                transform: translateY(-20px);
                background-color: #28303699;
                backdrop-filter: blur(50%);
                background: linear-gradient(225deg, #3a3332, #242c31, #242c31, #242c31, #242c31);
                border: 2px solid #2e343a;
                

                h3
                {
                    color: #e9e9ea;
                    transition: 0.45s ease-in-out;
                }
                h4
                {
                    color: #ffa537;
                    transition: 0.45s ease-in-out;
                }
                h5
                {
                    color: #cfd1d2;
                    transition: 0.45s ease-in-out;
                }
                button
                {
                    color: #ffffff;
                    transition: 0.45s ease-in-out;
                    background-color: $light-orange;
                }
                .icons svg:first-of-type path
                {
                    fill: #FD3B41;
                    fill-opacity: 1;
                    transition: 0.45s ease-in-out;
                }
            }
            
        }
    }
    & > button
    {
        color: $light-orange;
        background-color: #1e252b;
        padding: 17px 38px;
        border: 1px solid #FFFFFF1A;
        border-radius: 8px;
        margin-top: 100px;
    }
}

.trusted
{
    .container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px #242a30 solid;
        padding: 55px 82px;
        background-color: #21292e;
        border-radius: 25px;
        gap: 55px;
        background: linear-gradient(135deg, #4a2f32, #242c31, #242c31, #242c31, #242c31, #242c31, #242c31, #242c31);
        & h3
        {
            @include typography(24px, 500, 36px, #FFFFFFCC);
        }
        & ul
        {
            display: flex;
            justify-content: space-around;
            width: 100%;
        }
    }
}

.newcomer
{
    .container
    {
        display: flex;
        justify-content: space-between;
        margin: 200px auto;
        
        & .column-1
        {
            display: flex;
            flex-direction: column;
            h2
            {
                @include typography(48px, 500, 62.4px, #FFFFFFE5);
                margin-bottom: 30px;
            }
            h5
            {
                @include typography(18px, 500, 30px, #FFFFFF8C);
                max-width: 430px;
                margin-bottom: 60px;
            }

            button
            {

                border-radius: 8px;
                padding: 16px 40px;
            }
        }

        & .column-2
        {
        & ul
            {
                display: grid;
                grid-template-columns: 284px 284px;
                grid-template-rows: 284px 284px;
                gap: 24px 50px;

                & li
                {
                    gap: 30px;
                    display: flex;
                    flex-wrap: wrap;
                    padding: 28px 22px;
                    width: 245px;
                    transition: 0.45s ease-in-out;
                    border: 2px #1e252b solid;
                    
                    & h4
                    {
                        @include typography(24px, 500, 36px, #FFFFFFC7);
                        margin-bottom: 3px
                    }

                    & h5
                    {
                        @include typography(18px, 400, 27px, #FFA5378C);
                    }

                    & h6
                    {
                        @include typography(14px, 400, 30px, #FFFFFF8C);
                        
                    }

                    & .icons
                    {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;

                        & button
                        {
                            background-color: #1e252b;
                            color: #FFFFFF8C;
                            padding: 9px 35px;
                        }
                    }
                    &:hover
                    {
                        transform: translateY(-20px);
                        background-color: #28303699;
                        backdrop-filter: blur(50%);
                        background: linear-gradient(225deg, #3a3332, #242c31, #242c31, #242c31, #242c31);
                        border: 2px solid #2e343a;
                        h4
                        {
                            color: #e9e9ea;
                            transition: 0.45s ease-in-out;
                        }
                        h5
                        {
                            color: #ffa537;
                            transition: 0.45s ease-in-out;
                        }
                        h6
                        {
                            color: #cfd1d2;
                            transition: 0.45s ease-in-out;
                        }
                        button
                        {
                            color: #ffffff;
                            transition: 0.45s ease-in-out;
                            background-color: $light-orange;
                        }
                        .icons svg:first-of-type path
                        {
                            fill: #FD3B41;
                            fill-opacity: 1;
                            transition: 0.45s ease-in-out;
                        }
                    }
                }
            }
        }
    }
}

.person
{
    & .container
    {
        position: relative;

        & svg
        {
            position: absolute;
            top: 222px;

            &:last-of-type
            {
                right: 0;
            }
        }

        & .content
        {
            display: flex;
            justify-content: center;
            gap: 57px;

            & h5
            {
                @include typography(14px, 400, 30px, #FFFFFFC7);
                font-family: 'Roboto';
                max-width: 393px;
            }
        }

        & .marks
        {
            margin-top: 100px;
            & ul
            {
                display: flex;
                justify-content: center;
                gap: 18px;

                & li
                {
                    background-color: #283036;
                    height: 6px;
                    width: 44px;
                    border-radius: 4px;

                    &:active
                    {
                        background-color: $light-orange;
                        height: 8px;
                    }

                    &:nth-of-type(2)
                    {
                        background-color: $light-orange;
                    }
                }
            }
        }
    }
}

.contributor
{
    .container
    {
        margin: 250px auto 240px;
        display: flex;
        flex-direction: column;
        align-items: center;
        & h2
        {
            @include typography(48px, 500, 62.4px, #FFFFFFE5);
            margin-bottom: 25px;
        }
        & h4
        {
            @include typography(18px, 500, 30px, #FFFFFF8C);
            max-width: 430px;
            text-align: center;
            margin-bottom: 100px;
        }

        & .input
        {
            position: relative;
            background-color: #283036;
            border-radius: 15px;
            width: 555px;
            height: 64px;
            display: flex;
            align-items: center;

            & input
            {
                height: 100%;
                width: calc(100% - 145px);

                &::placeholder
                {
                    position: absolute;
                    left: 24px;
                }
            }

            & button
            {
                padding: 12px 36px;
                position: absolute;
                right: 12px;
            }
        }
    }
}

footer
{
    border-top: 0.5px solid #FFFFFF26;
    & .container
    {
        display: flex;
        margin: 70px auto 98px;
        justify-content: center;
        & .column
        {
            & h4
            {
                @include typography(20px, 500, 30px, #FFFFFFE5);
            }

            & h5
            {
                @include typography(16px, 500, 24px, #FFFFFF8C);
            }
        }

        & .column-1
        {
            margin-right: 41px;
            & .logo
            {
                display: flex;
                @include typography(22px, 600, 33px, #FFFFFFE5);
            }

            & h4
            {
                @include typography(16px, 500, 24px, #FFFFFFE5);
                margin-top: 25px;
            }
            & h5
            {
                @include typography(14px, 400, 25px, #FFFFFF8C);
                max-width: 260px;
                margin-top: 21px;
            }
            
        }
        
        & ul
        {
            display: grid;
            grid-template-columns: 260px 197px 108px 142px;
            gap: 115px;
        }
    }
}